.banner {
  background-color: $banner-bg;
  height: 860px;
  background-image: url("../../img/banner.jpg");
  background-position-x: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/banner@2x.jpg");
  }
}

.banner__wrapper {
  @include center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.banner__info {
  grid-column: 2 / 3;
  padding: 185px 0 0 115px;
  color: $white;
}

.banner__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1px;
  width: 412px;
}

.banner__text {
  margin-top: 30px;
  line-height: 170%;
  width: 376px;
}

.banner__link {
  margin-top: 39px;
  display: block;
  box-sizing: border-box;
  width: 340px;
  height: 75px;
  background-color: $pink;
  color: $white;

  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 30px 40px;
  background-image: url("../../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 286px 31px;

  &:hover {
    background-color: $orange;
  }
}

@media (max-width: $max-tablet-width) {
  .banner {
    height: 344px;
    background-image: url("../../img/banner-tablet.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/banner-tablet@2x.jpg");
    }
  }

  .banner__wrapper {
    display: block;
  }

  .banner__info {
    width: 398px;
    padding: 60px 0 0;
    margin: 0 auto;
  }

  .banner__title {
    text-align: center;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0;
  }

  .banner__text {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    line-height: 170%;
  }

  .banner__link {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 50px;

    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    padding: 19px 40px;
    background-position: 196px 18px;

    &:hover {
      background-color: $orange;
    }
  }
}

@media (max-width: $max-mobile-width) {
  .banner {
    height: auto;
    background-image: none;
    background-color: transparent;

    @media (min-resolution: 2dppx) {
      background-image: none;
    }
  }

  .banner__wrapper {
    padding: 0;
  }

  .banner__info {
    width: auto;
    padding: 0;
    margin: 0;
  }

  .banner__title {
    box-sizing: border-box;
    height: 235px;
    padding: 81px 16px 0;
    font-size: 24px;
    background-image: url("../../img/banner-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/banner-mobile@2x.jpg");
    }
  }

  .banner__text {
    margin-top: 20px;
    width: auto;
    @include center;
  }

  .banner__link {
    margin-top: 20px;
    @include center;
    width: 288px;
    background-position: 234px 18px;
  }
}
