.header__wrapper {
  @include center;
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  box-sizing: border-box;
  height: 100px;
  padding-top: 32px;
  padding-bottom: 36px;
}

.header__logo {
  padding: 4px 0 0;
}

.header__toggle {
  display: none;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 66px;
}

.header__menu-item {
  margin-right: 40px;
  margin-top: 7px;
}

.header__menu-link {
  color: $dark-font;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;

  &:hover {
    color: $pink;
  }
}

.header__phone {
  display: block;
  position: relative;
  color: $dark-font;
  text-decoration: underline;
  font-size: 18px;
  line-height: 32px;

  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../../img/icon-phone.svg");
    top: 3px;
    left: -36px;
  }

  &:hover {
    color: $pink;

    &::before {
      background-image: url("../../img/phone-pink.svg");
    }
  }
}

@media (max-width: $max-tablet-width) {
  .header__wrapper {
    @include center;
    display: grid;
    grid-template-columns: 1fr max-content;
    box-sizing: border-box;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;

    &--nojs {
      display: block;
    }
  }

  .header__logo {
    padding: 16px 0 0;
  }

  .header__toggle {
    display: block;
    position: relative;
    left: 21px;
    border: none;
    width: 72px;
    height: 50px;
    background-color: $pink;
  }

  .header__close-icon {
    display: none;
  }

  .header__menu {
    display: none;
    background-color: $white;
    width: 320px;
    margin-right: 0;
  }

  .header__nav {
    &--nojs {
      .header__toggle {
        display: none;
      }

      .header__menu {
        display: block;
        position: relative;
        left: 21px;

        @media (max-width: $max-mobile-width) {
          left: -16px;
        }
      }
    }

    &--opened {
      .header__toggle {
        background-color: $white;
      }

      .header__open-icon {
        display: none;
      }

      .header__close-icon {
        display: inline;
      }

      .header__menu {
        display: block;
        position: absolute;
        padding-top: 52px;
        padding-bottom: 52px;
        top: 50px;
        right: 0;
      }
    }
  }

  .header__menu-item {
    margin-right: 0;
    margin-top: 30px;
  }

  .header__menu-link {
    display: block;
    box-sizing: border-box;
    height: 60px;
    padding: 17px 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    background-color: $light-grey;
    background-image: url("../../img/menu-arrow.svg");
    background-position: 288px 23px;
    background-repeat: no-repeat;
  }

  .header__phone {
    display: none;
  }
}

@media (max-width: $max-mobile-width) {
  .header__toggle {
    left: 16px;
  }
}
