.page {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  color: $basic-font;
  height: 100%;
}

.page__places {
  margin-top: 200px;
}

.page__bg {
  margin-top: 24px;
  background-image: url("../../img/bg-map.svg");
  background-repeat: no-repeat;
  background-position: center 119px;
}

.page__prices {
  margin-top: 232px;
}
