.page {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  color: $basic-font;
  height: 100%;
}

.page__places {
  margin-top: 200px;

  @media (max-width: $max-tablet-width) {
    margin-top: 80px;
  }
}

.page__bg {
  margin-top: 24px;
  background-image: url("../../img/bg-map.svg");
  background-repeat: no-repeat;
  background-position: center 119px;

  @media (max-width: $max-tablet-width) {
    background-image: none;
    margin-top: 55px;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: 5px;
  }
}

.page__prices {
  margin-top: 232px;

  @media (max-width: $max-tablet-width) {
    margin-top: 111px;
  }
}

.page__form {
  margin-top: 140px;
}

.page__footer {
  margin-top: 160px;

  @media (max-width: $max-tablet-width) {
    margin-top: 80px;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: 60px;
  }
}
