.tabs__wrapper {
  @include center;
}

.tabs__nav {
  display: flex;
}

.tabs__nav-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: fade-out($basic-font, 0.7);
  padding-bottom: 15px;
  padding-right: 99px;
  border-bottom: 1px solid fade-out($basic-font, 0.7);

  &:hover {
    color: $pink;
  }

  &--active {
    color: $pink;
  }

  &:last-child {
    padding-right: 0;
  }

  span {
    cursor: pointer;
  }
}

.tabs__content {
  margin-top: 65px;
}
