@mixin center {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 21px;
  padding-right: 21px;

  @media (max-width: $max-tablet-width) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@mixin underline($width, $height, $bottom) {
  content: "";
  position: absolute;
  width: $width;
  height: $height;
  bottom: -$bottom - $height;
  left: 0;
  background-color: $pink;
}
