$max-tablet-width: 1023px;
$max-mobile-width: 767px;

$basic-font: #2C2E3F;
$dark-font: #141517;
$white: #FFF;
$banner-bg: #5983AD;
$pink: #FE7865;
$orange: #F17D4B;
$light-grey: #FBF8F8;
$shadow: rgba(41, 54, 66, 0.1);
$grey:  #D7D9DF;
